@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    :root{
    --base: #e6f0fc;
    --secundario: #FFFFFF;
    --texto: #023047;
    --texto2: #023047c4;
    --destaque: #FFB703;
    --amarelo-escuro: #FB8500;
}
body{
    background-color: var(--base);
}
*{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    color: var(--texto);
    font-size: 14px;
}
header, footer, section{
    background-color: var(--base);
    padding: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 2em;
    align-items: center;
}
section{
    background-color: var(--secundario);
    border-radius: 24px;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.185);*/
}
.container-column{
    display: flex;
    flex-direction: column;
}
.container-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.lateral-menu{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.lateral-menu button{
    padding: 12px;
    border: none;
    font-size: 20px;
    text-align: left;
}
.botton-menu{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
}
.botton-menu button{
    padding: 12px;
    border: none;
    font-size: 14px;
    text-align: left;
    width: fit-content;
}



footer{
    padding: 4em;
}
header div{
    display: flex;
    align-items: center;
    justify-content: center;
}
header a{
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 30px;
}
header a:hover{
    text-decoration: underline;
}
header img{
    width: 80%;
}
h1{
    font-size: 46px;
}
h2{
    font-size: 24px;
}
.categoria{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 24px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.336);
}
.categoria-text{
    color: white;
}
div.categorias{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.modal{
    background-color: #f5f5f5;
    width: 500px;
    height: 350px;
    border-radius: 24px;
    margin: auto;
    padding: 4em;  
}
.modal h2{
    padding-top: 12%;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
}
.modal p{
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}
.modal button{
    padding: 8px;
    border: none;
    background-color: var(--texto);
    color: var(--base);
    font-size: 18px;
}
.modal button:hover{
    background-color: var(--texto2);
}

.form-section{
    padding: 20px;
}

.fa-solid{
    color: #5E5E5E
}

/* ELEMENTOS DE FORMULÃRIO */

form label {
    display: block;
    width: fit-content;
    font-size: 1.2em;
    font-weight: 400;
    background-color: rgba(55, 41, 145, 0.2);
    padding: 3px 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
}

input[type=text], [type=number], select, input[type=date], input[type=date], input[type=datetime], input[type=email], input[type=month], input[type=password], input[type=range], input[type=tel], input[type=time], input[type=week] {
    width: 100%;
    padding: 12px 20px;
    font-size: 1em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
input[type=color]{
    width: 100%;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
}

textarea{
    width: 100%;
    padding: 12px 20px;
    font-size: 1em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset] {
    width: 100%;
    background-color: #eb9903;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #c27013;
}

input[type=button] {
    width: 100%;
    background-color: #372991;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover{
    background-color: #291f6c;
}
button{
    color: var(--texto);
    width: 100%;
    border-radius: 12px;
    background-color: var(--base2);
}
button:hover{
    background-color: #E2ECFC;
}
button.active{
    background-color: #D3E3FD;
}

fieldset {
    border: 0.5px dotted #372991;
}

fieldset > legend {
    font-size: 0.8em;
    font-weight: 100;
    background-color: rgba(55, 41, 145, 0.2);
    padding: 3px 7px;
    border-radius: 5px;
}

input[type=radio] + label, input[type=checkbox] + label {
    display: inline-block;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
}





/* TABELAS E LISTAS */

table {
    min-width: 48%;
    border-spacing: 0px;
    border-radius: 12px;
    margin: 10px auto;
    overflow: hidden;
    background-color: var(--secundario);
    font-weight: 500;
}

table th {
    color: var(--texto2);
    padding: 12px;
    text-align: center;
}

table td {
    padding: 15px 15px 15px 15px;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.11);
}
td a{
    text-decoration: none;
    font-weight: 700;
}

table tfoot td{
    background-color: #372991;
    color: white;
    padding: 5px;
    text-align: left;
}

table tr {
}
table tr:nth-child(odd) {
}